
@import "./base/setup.css";
/*Default postavke koje mi trebaju. Pr. da linkovi nemaju underline ili nisu plavi podefaultu*/
body{
    overflow-x:hidden;
    overflow-y:scroll;
    position:relative;
    background-color: var(--clr-primary);
    padding:0;
    margin: 0;
}

.pup-container{
    display:none;
    width:100vw;
    height:100vh;
    margin: 0;
    background-color:rgba(0, 0, 0, .8);
    position:absolute;
    top:0;
}

.Pup-image{
    position:relative;
    top:40%;
    z-index:2;
    display:block;
    margin: 0 auto;
    width:70%;
}

.heroUpper{
    color: white;
    background-image: url("./sources/images/FavBackgroundPhone.jpg");
    background-size:cover;
    min-height: 100vh;
    display:grid;
    grid-template-rows: 70% 15% 15%;
    place-items:center;
}

.Puppy{
    border-radius: 2rem;
    border:none;
    font-size: 3rem;
    font-weight: bold;
    color:inherit;
    padding: .5em 1.25em;
    background-color: hsl(0, 0%, 10%);
}

.Puppy:hover{
    cursor: pointer;

    color:hsl(0, 0%, 10%);
    background-color:white;
}

.heroUpper h2{
    display: grid;
    place-items: center;
    font-size: 2.75rem;
    color:black;
    background-color: var(--clr-primary);
    width:70%;
    text-align: center;
    align-items: end;
    height: 100%;
}

.heroUpper h3{
    display:grid;
    justify-items: center;
    align-items: end;
    width:100%;
    height: 100%;
    background-color:var(--clr-primary);
    color: rgba(0, 0, 0, 50%);
}

.heroLower{
    margin-top: 1rem;
    font-size:1.5rem;
    position: relative;
    padding: 1rem;
}

.heroLower h3{
    text-align: center;
}

.gridContainer{
    font-size: 1rem;
    margin: 0 auto;
    width: 80%;
    gap: 1.25rem;
    display: grid;
}

.gridContainer img{
    height:10ch;
    width:10ch;
}

.gridItem{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding:0 1rem;
    border-radius: 2em;
    text-align: center;
    transition: transform .1s linear;
}

.gridItem:hover{
    cursor:pointer;
    transform:scale(1.1);
}

.Html{
    background-color: hsl(40, 93%, 60%);
}

.Css{
    background-color: hsl(230, 93%, 63%);
}

.Js{
    background-color: hsl(68, 93%, 60%);
}

.helper{
    display:flex;
    align-items: center;
}

.helper div{
    flex: 1;
}

.helper img{
    flex: 1;
}

.Vue{
    background-color: hsl(126, 93%, 60%);
}

@media screen and (min-width: 720px) {

    .Pup-image{
        top:auto;
    }

    .gridContainer{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .Vue{
        grid-row: 1/3;
        grid-column: 3;
    }

    .Js{
        grid-column: 1/3;
    }
}
